* {
  all: unset;
  background: transparent;
  font-family: Maple Mono;
}

window {
  background: transparent;
}

.container {
  background-color: #141216;
  border-width: 1px;
  border-style: solid;
  border-color: #d8cab8;
  color: #d8cab8;
  border-radius: 12px;
}
.userinfo-parent {
  background-color: #141216;
  color: #d8cab8;
  border-radius: 12px;

  border-width: 1px;
  border-style: solid;
  border-color: #d8cab8;
}
.userinfo-child {
  color: #d8cab8;
}
.label {
  font-size: 24px;
  font-weight: bold;
}

.button-label {
  font-size: 24px;
  font-weight: bold;
}

.completelytrans {
  background: none;
}

.button {
  border-radius: 6px;
  margin: 10px;
}
.button:hover {
  background-color: #ac82e9;
  color: #141216;
  transition-duration: 150ms;
}
.button:active {
  background-color: #634a88;
  color: #141216;
  transition-duration: 150ms;
}

.poweroff-button {
  border-radius: 6px;
  margin: 10px;
}
.poweroff-button:hover {
  background-color: #fc4649;
  color: #141216;
  transition-duration: 150ms;
}
.poweroff-button:active {
  background-color: #862526;
  color: #141216;
  transition-duration: 150ms;
}

.suspend-button {
  border-radius: 6px;
  margin: 10px;
}
.suspend-button:hover {
  background-color: #ac82e9;
  color: #141216;
  transition-duration: 150ms;
}
.suspend-button:active {
  background-color: #634a88;
  color: #141216;
  transition-duration: 150ms;
}

.icon-label {
  font-size: 45px;
  font-weight: normal;
}

.center-clock {
    background-color: rgba(0, 0, 0, 0.0);
    margin-right: 50px;

    &-date {
        font-size: 100px;
        color: #a89983;
        margin-bottom: -230px;
    }

    &-clock {
        font-family: "Maple Mono";
        font-weight: bold;
        font-size: 230px;
        color: #a89983;
        margin-right: 0px;
        margin-bottom: 0px;
    }
}
