* {
  font-family: Maple Mono;
  border-radius: 8;
  font-size: 14px;
  padding: 0px;
  background: transparent;
}

window#waybar {
  /* Linear gradients are used because it makes less harsh rounded border radius, gtk bug */
  background-image: linear-gradient(to bottom, #141216 100%);
  border-radius: 14px;
  padding: 0px;
  border-style: none;
}

#battery,
#network,
#clock,
#custom-applauncher,
#tray,
#workspaces,
#bluetooth,
#custom-cava,
#pulseaudio {
  background-image: linear-gradient(to bottom, #27232b 100%);

  margin: 6px;
  margin-right: 0px;
  padding: 4px 8px;
  border-radius: 8px;
  color: #d8cab8;
  border-style: none;
  transition-duration: 120ms;
}

#clock:hover {
  background-image: linear-gradient(to bottom, #ac82e9 100%);
  color: #141216;
  font-weight: bolder;
  transition-duration: 120ms;
  min-width: 45px;

}


#pulseaudio:hover {
  background-image: linear-gradient(to bottom, #ac82e9 100%);
  color: #141216;
  transition-duration: 120ms;
  font-weight: bolder;
  min-width: 51px;


}

#custom-applauncher {
  font-weight: bold;
  transition-duration: 100ms;
  min-width: 16px;

}

#custom-applauncher:hover {
  background-image: linear-gradient(to bottom, #ac82e9, #ac82e9);
  color: #141216;
  transition-duration: 120ms;
  min-width: 20px;

  
}

#tray:hover {
  background-image: linear-gradient(to bottom, #ac82e9 100%);
  color: #141216;
  transition-duration: 120ms;
  min-width: 20px;


}

#tray button{
  transition-duration: 120ms;
  all: initial;
  min-width: 0;
  margin-right: 0.2cm;
  margin-left: 0.2cm;
}



#tray menu {
  background-color: #141216;
  color: #d8cab8;
  padding: 4px;
}

#tray menu menuitem {
  background-image: linear-gradient(to bottom, #27232b 100%);

  margin: 3px;
  color: #d8cab8;
  border-radius: 4px;
  border-style: solid;
  border-color: #27232b;
}
#tray menu menuitem:hover {
  background-image: linear-gradient(to bottom, #27232b 100%);
  color: #ac82e9;
  font-weight: bold;
}

#bluetooth button{
  transition-duration: 100ms;
  all: initial;
  min-width: 16px;
  color: #d8cab8;
  margin-right: 0.2cm;
  margin-left: 0.2cm;
}
#bluetooth:hover {
  background-image: linear-gradient(to bottom, #ac82e9, #ac82e9);
  color: #141216;
  transition-duration: 120ms;
  min-width: 20px;


}

#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  font-weight: bold;
  color: #d8cab8;
  margin-right: 0.2cm;
  margin-left: 0.2cm;
}

#workspaces button:hover {
  transition-duration: 120ms;
  color: #8f56e1;
  min-width: 12px;

}
#workspaces button.focused {
  color: #ac82e9;
  font-weight: bold;
}
#workspaces button.active {
  color: #ac82e9;
  font-weight: bold;
}
#workspaces button.urgent {
  color: #fcb167;
}

#battery {
  color: #d8cab8;
  margin-right: 0.2cm;

}

#battery:hover {
  background-image: linear-gradient(to bottom, #ac82e9 100%);
  color: #141216;
  font-weight: bolder;
  transition-duration: 120ms;
  min-width: 51px;

}
#battery.warning,
#battery.critical,
#battery.urgent {
  color:  #fc4649;
}
